<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
  </div>

  <!-- Mostrar el error en caso de que haya uno -->
  <app-login-error *ngIf="loginError" [errorMessage]="loginError"></app-login-error>

  <div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>
