html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('./app/login/assets/BackGround.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  app-login {
    display: flex;
    flex-direction: column;
    height: 100%;
  }