<div class="menu-container">
    <h1>MONOPOLY</h1>
    <div *ngIf="notificacion" class="notificacion" [ngClass]="notificacion.tipo">
      {{ notificacion.mensaje }}
    </div>    
    <ul class="menu-list">
      <li (click)="toggleSubmenu()">🎮 Jugar</li>
      <ul *ngIf="mostrarSubmenuJugar" class="submenu">
        <li (click)="waitRoom()">➕ Crear Partida</li>
        <li (click)="joinRoom()">🔗 Unirse a Partida</li>
      </ul>
      <li>⚙️ Configuración</li>
      <li>📊 Estadísticas</li>
      <li>📜 Historial de partidas</li>
    </ul>
  </div>
