<div class="register-container">
    <h2>Crear Cuenta</h2>
    <form (ngSubmit)="registrar()" #registerForm="ngForm">
      <div class="form-group">
        <label>
          Correo Electrónico:
          <input type="email" name="correo" [(ngModel)]="correo" required />
        </label>
      </div>
      <div class="form-group">
        <label>
          Usuario:
          <input name="usuario" [(ngModel)]="usuario" required />
        </label>
      </div>
      <div class="form-group">
        <label>
          Contraseña:
          <input type="password" name="contrasena" [(ngModel)]="contrasena" required />
        </label>
      </div>
      <div class="button-group">
        <button type="submit">Registrarse</button>
        <a routerLink="/" class="back-button">Volver</a>
      </div>
    </form>
  </div>
  